<?php
$this->headLink()
    ->appendStylesheet($this->basePath() . '/css/module/goods/goods/goods.css');
$this->headScript()
    ->appendFile($this->basePath() . '/js/textchange/jquery.textchange.js')
    ->appendFile($this->basePath() . '/js/module/admin/goods-admin/products.js');
?>
<h1>Admin Lots page </h1>
<input id="inputSearchProduct" type="text" class="form-control" placeholder="Text input">

<div id="listProducts">
    <?=$this->partial(
    'admin/partial/products-table.phtml',
    [
    'paginator' => $this->paginator,
    'defaultPhoto' => $this->defaultPhoto,
    'productTimeFormat' => $this->productTimeFormat,
    'columnSorting' => $this->columnSorting,
    'orderSorting' => $this->orderSorting,
    'idActiveSpan' => $this->idActiveSpan,
    'pathPhoto' => $this->pathPhoto
    ]
    );?>

    <?= $this->paginationControl(
            $this->paginator,
            'sliding',
            'admin/partial/paginator.phtml',
            []
        )
    ?>
</div>
<div>
    <a href="<?= $this->url('admin-goods', ['action' => 'create-product']) ?>">
        <button type="button" class="btn btn-warning" >Create product</button>
    </a>
</div>