<?php

echo $this->form()->openTag($goodsForm);

echo $this->formElement($goodsForm->get('id'));
echo $this->formElement($goodsForm->get('photo'));

echo '<div class="form-group">';
echo $this->formElementErrors($goodsForm->get('name'), array('class' => 'bg-danger'));
echo '</div>';
echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('name'));
echo '</div>';

echo '<div class="form-group">';
echo $this->formElementErrors($goodsForm->get('typeId'), array('class' => 'bg-danger'));
echo '</div>';
echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('typeId'));
echo '<a href="' . $this->url("admin-type", ["action" => "types"]) . '"> Edit list type  </a>';
echo '</div>';

echo '<div class="form-group">';
echo $this->formElementErrors($goodsForm->get('descriptions'), array('class' => 'bg-danger'));
echo '</div>';
echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('descriptions'));
echo '</div>';
echo '<dev id="imageInForm">';
if (!$this->pathPhoto) {
    echo '<div class="form-group">';
    echo $this->formElementErrors($goodsForm->get('file'), array('class' => 'bg-danger'));
    echo '</div>';
    echo '<div class="form-group">';
    echo $this->formElement($goodsForm->get('file'));
    echo '</div>';
} else {
    echo '<p><a <a href="' . $this->url("admin-goods", ["action" => "edit-image", "id" => $goodsForm->get('id')->getValue()]) . '" id="editSizeImage">Edit size image</a></p>';
    echo ' <img src="' . $this->pathPhoto . '" alt="No Photo">';
    echo '<p><a id="deleteImage">delete image</a></p>';
}
echo '</dev>';

if (!$this->disabledPrice) {
    echo '<div class="form-group">';
    echo $this->formElementErrors($goodsForm->get('price'), array('class' => 'bg-danger'));
    echo '</div>';

    echo '<label>Price ';
    echo '<div class="form-group">';
    echo $this->formElement($goodsForm->get('price'));
    echo '</div>';
    echo '</label>';
}

echo '<div class="form-group">';
echo $this->formElementErrors($goodsForm->get('startPrice'), array('class' => 'bg-danger'));
echo '</div>';
echo '<label>Start Price ';
echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('startPrice'));
echo '</div>';
echo '</label>';

echo '<div class="form-group">';
echo $this->formElementErrors($goodsForm->get('stepPrice'), array('class' => 'bg-danger'));
echo '</div>';
echo '<label>Step Price ';
echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('stepPrice'));
echo '</div>';
echo '</label>';

echo '<div class="form-group">';
echo $this->formElementErrors($goodsForm->get('dateStart'), array('class' => 'bg-danger'));
echo '</div>';
echo '<label>Date Start';
echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('dateStart'));
echo '</div>';
echo '</label>';

echo '<div class="form-group">';
echo $this->formElementErrors($goodsForm->get('dateStop'), array('class' => 'bg-danger'));
echo '</div>';
echo '<label>Date Stop';
echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('dateStop'));
echo '</div>';
echo '</label>';

echo '<div class="form-group">';
echo '<label>Dynamic ';
echo $this->formElement($goodsForm->get('dynamic'));
echo '</label>';
echo '</div>';

echo '<div class="form-group">';
echo $this->formElement($goodsForm->get('submitGoods'));
echo '</div>';

echo $this->form()->closeTag();
?>