<?php
function makeNameHeadProductsTable($name, $nameHeader, $columnSorting, $orderSorting, $idActiveSpan)
{
    $dataOrder = 'DESC';
    if ($columnSorting === $name ) {
        $dataOrder = $orderSorting;
    }
    echo '<a class="sort-button" href="#" onclick="return false;" data-column="'. $name .'" data-order="' . $dataOrder . '">';

    if ($idActiveSpan !=  $name . 'Desc') {
        echo '<span id="' . $name . 'Desc" class="order-arrow order-inactive">&#9650;</span>';
    } else {
        echo '<span id="' . $name . 'Desc" class="order-arrow order-active">&#9650;</span>';
    }

    if ($idActiveSpan !=  $name . 'Asc') {
        echo '<span id="' . $name . 'Asc" class="order-arrow order-inactive">&#9660;</span>';
    } else {
        echo '<span id="' . $name . 'Asc" class="order-arrow order-active">&#9660;</span>';
    }
    echo $nameHeader;

    echo '</a>';
};

?>

<table class="table">
    <tr>
        <th>
            <?php makeNameHeadProductsTable('id', '№', $this->columnSorting, $this->orderSorting, $this->idActiveSpan )?>
        </th>

        <th>
            <?php makeNameHeadProductsTable('name', 'Name', $this->columnSorting, $this->orderSorting, $this->idActiveSpan )?>
        </th>

        <th>
            Type product
        </th>

        <th>
            <?php makeNameHeadProductsTable('dateStart', 'Date start', $this->columnSorting, $this->orderSorting, $this->idActiveSpan )?>
        </th>

        <th>
            <?php makeNameHeadProductsTable('dateStop', 'Date stop', $this->columnSorting, $this->orderSorting, $this->idActiveSpan )?>
        </th>

        <th>
            <?php makeNameHeadProductsTable('price', 'Price now', $this->columnSorting, $this->orderSorting, $this->idActiveSpan )?>
        </th>

        <th>
            Photo
        </th>

    </tr>
    <?php foreach ($this->paginator as $lot) : ?>

        <tr <?= $lot->getDynamic() ? ' class="success"' : ''?>>
            <td>
                <?= $lot->getId() ?>
            </td>

            <td>
                <a href="<?= $this->url('admin-goods', ['action' => 'product', 'id' => $lot->getId()]) ?>">
                <?= $this->escapeHtml($lot->getName()) ?>
                </a>
            </td>

            <td>
                <?= $this->escapeHtml($lot->getTypeId()->getName()) ?>
            </td>

            <td>
                <?= $lot->getDateStart()->format($this->productTimeFormat) ?>
            </td>

            <td>
                <?= $lot->getDateStop()->format($this->productTimeFormat) ?>
            </td>

            <td>
                <?= $lot->getPriceDecimal() ?>
            </td>

            <td>
                <a href="<?= $this->url('admin-goods', ['action' => 'product', 'id' => $lot->getId()]) ?>">
                <img src="
                    <?php  if (!$lot->getPhoto() ) {
                    echo $this->defaultPhoto;
                } else {
                    echo $this->pathPhoto . $lot->getPhoto();
                }?>
                    " alt="No Photo">
                </a>
            </td>
        </tr>

    <?php endforeach;?>
</table>