<?php

echo $this->form()->openTag($form);

echo $this->formElement($form->get('id'));

echo '<div class="form-group">';
echo $this->formElementErrors($form->get('name'), array('class' => 'bg-danger'));
echo '</div>';
echo '<div class="form-group">';
echo $this->formElement($form->get('name'));
echo '</div>';

echo '<div class="form-group">';
echo $this->formElementErrors($form->get('descriptions'), array('class' => 'bg-danger'));
echo '</div>';
echo '<div class="form-group">';
echo $this->formElement($form->get('descriptions'));
echo '</div>';


echo '<div class="form-group">';
echo $this->formElement($form->get('submitType'));
echo '</div>';

echo $this->form()->closeTag();
?>
<p><a href="<?= $this->url('admin-type', ['action' => 'types']) ?>">Go To List Types</a></p>