<?php
?>
<table class="table">
    <tr>
        <th>
            №
        </th>

        <th>
            Name
        </th>

        <th>
            Description
        </th>

        <th>
            &nbsp;
        </th>


    </tr>
    <?php foreach ($this->types as $type) : ?>

        <tr>
            <td>
                <?= $type->getId() ?>
            </td>

            <td>
                <a href="<?= $this->url("admin-type", ["action" => "edit", "id" => $type->getId()])?>">
                <?= $this->escapeHtml($type->getName()) ?></a>
            </td>

            <td>
                <?= $this->escapeHtml($type->getDescriptions()) ?>
            </td>

            <td>
                <a href="<?= $this->url("admin-type", ["action" => "delete", "id" => $type->getId()])?>">
                    delete</a>
            </td>
        </tr>

    <?php endforeach;?>
</table>