<?php

$form->get('submitRegistration')->setValue('Edit');

echo $this->form()->openTag($form);
echo $this->formElement($form->get('id'));
echo $this->formElementErrors($form->get('email'), array('class' => 'bg-danger'));

echo '<div class="form-group">';
echo $this->formElement($form->get('email'));
echo '</div>';

echo $this->formElementErrors($form->get('firstName'), array('class' => 'bg-danger'));

echo '<div class="form-group">';
echo $this->formElement($form->get('firstName'));
echo '</div>';

echo $this->formElementErrors($form->get('lastName'), array('class' => 'bg-danger'));

echo '<div class="form-group">';
echo $this->formElement($form->get('lastName'));
echo '</div>';

echo $this->formElementErrors($form->get('password'), array('class' => 'bg-danger'));

echo '<div class="form-group">';
echo $this->formElement($form->get('password'));
echo '</div>';

echo $this->formElementErrors($form->get('repeat_password'), array('class' => 'bg-danger'));

echo '<div class="form-group">';
echo $this->formElement($form->get('repeat_password'));
echo '</div>';

echo '<div class="form-group">';
echo '<label>State ';
echo $this->formElement($form->get('state'));
echo '</label>';
echo '</div>';

echo '<div class="form-group">';
echo $this->formSubmit($form->get('submitRegistration'));
echo '</div>';
echo $this->form()->closeTag();
?>