<?php
?>
<table class="table">
    <tr>
        <th>
            №
        </th>

        <th>
            Email
        </th>

        <th>
            First Name
        </th>

        <th>
            Last Name
        </th>

        <th>
            role
        </th>


    </tr>
    <?php foreach ($this->paginator as $user) : ?>

        <tr <?= $user->getState() ? ' class="success"' : ''?>>
            <td>
                <?= $user->getId() ?>
            </td>

            <td>
                <a href="<?= $this->url("admin-user", ["action" => "edit", "id" => $user->getId()])?>">
                    <?= $this->escapeHtml($user->getEmail()) ?></a>
            </td>

            <td>
                <?= $this->escapeHtml($user->getFirstName()) ?>
            </td>

            <td>
                <?= $this->escapeHtml($user->getLastName()) ?>
            </td>

            <td>
                <?= $this->escapeHtml($user->getRole()) ?>
            </td>
        </tr>

    <?php endforeach;?>
</table>