<h1>User   <?= $this->form->get('email')->getValue() ?></h1>

<?php
if ($this->fm->hasMessages()) {
    $messages = $this->fm->getMessages();
    foreach($messages as $message) {
        echo '<h4>'.$message.'</h4>';
    }
}
?>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'admin-user', ['action' => 'edit']
));
?>
<?= $this->partial(
    'admin/partial/user-form.phtml',
    [
        'form' => $form,
    ]
);?>

