<?php

?>
<h1>Admin Users page </h1>


<div id="listProducts">
    <?=$this->partial(
        'admin/partial/user-table.phtml',
        [
            'paginator' => $this->paginator,
        ]
    );?>

    <?= $this->paginationControl(
        $this->paginator,
        'sliding',
        'admin/partial/paginator.phtml',
        [
            'route' => 'admin-user',
            'action' => 'users'
        ]
    )
    ?>
</div>