<?php

$form->setAttribute('action', $this->url(
    'admin-type', ['action' => 'delete']
));

$form->prepare();
?>
<h1>Delete Type</h1>

<h3>Are you sure you want to delete type: <?= $type->getName() ?>?</h3>

<div class="row bs-example">
    <?php
    echo $this->form()->openTag($form);
    echo $this->formElement($form->get('id'));
    echo $this->formElement($form->get('submitConfirm'));
    ?>
    <a href="<?= $this->url('admin-type', ['action' => 'types']) ?>">
        <button type="button" class="btn btn-success btn-margin" >Cancel</button>
    </a>
    <?php
    echo $this->form()->closeTag();
    ?>

</div>