<?php


$this->form->setAttribute('action', $this->url(
    'admin-type', ['action' => 'edit']
));
?>
<h1>Type № <?= $this->form->get('id')->getValue() ?></h1>

<?php
if ($this->fm->hasMessages()) {
    $messages = $this->fm->getMessages();
    foreach($messages as $message) {
        echo '<h4>'.$message.'</h4>';
    }
}
?>
<?=$this->partial(
    'admin/partial/type-form.phtml',
    [
        'form' => $this->form,
    ]
);?>

