<h1>Admin Type page </h1>


<div id="listTypes">
    <?=$this->partial(
        'admin/partial/type-table.phtml',
        [
            'types' => $this->types,
        ]
    );?>

</div>

<div>
    <a href="<?= $this->url('admin-type', ['action' => 'create-type']) ?>">
        <button type="button" class="btn btn-warning" >Create new Type</button>
    </a>
</div>